{% sw_extends '@Storefront/storefront/page/product-detail/configurator.html.twig' %}

{% block page_product_detail_configurator_option %}
    {% if page.product.variation|length == 1 %}
        {% set className = 'in-stock' %}
        {% for variant in page.extensions.MelvSoldOutVariants %}
            {% if (option.id == variant.optionIds|first) %}
                {% if variant.availableStock <= 0 %}
                    {% set className = 'no-stock' %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="product-detail-configurator-option {{ className }}">
            {% block page_product_detail_configurator_option_radio %}
                {{ parent() }}
            {% endblock %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
